@import "../../Colors.scss";

.productCarouselContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  text-align: left;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.productCarouselContainer::-webkit-scrollbar {
  display: none;
}

.productCardSortFrame {
  position: absolute;
  top: 120px;
  width: 100%;
  background-color: rgba(146, 146, 146, 0.295);
  backdrop-filter: blur(8px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.sortingPickerFrame {
  width: 90%;

  background-color: rgba(255, 255, 255, 0.562);
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.inputCont {
  border-bottom: 2px solid rgba(80, 80, 80, 0.596);
  margin: 10px;
  margin-left: 30px;
  padding: 5px;
}

.inputContLabel {
  font-size: 20px;
  position: relative;
}

.inputContInput {
  position: absolute;
  margin-left: 10px;
  top: 3px;
  right: -25px;
  width: 20px;
  height: 20px;
  background-color: white;
  cursor: pointer;
}

.productCardFrame {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  height: 370px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 0 8px $shadow-color;
  cursor: pointer;
  transition: 150ms;
}

.coloredCardFrame {
  background-color: white;
}

.productCardFrame:hover {
  box-shadow: none;
}

.productScaledImg {
  width: 100%;
  aspect-ratio: 2/2;
  object-fit: contain;
}

.productTitle {
  font-size: 1em;
}

.productBrand {
  font-weight: 300;
}

.productCardDivider {
  height: 100%;
}

.productPrice {
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(255, 46, 46);
  padding-block: 4px;
}

.buyButton {
  background-color: $bg-color1;
  font-size: 1em;
  font-weight: 500;
  padding: 7px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
