@import "../../Colors.scss";

.productCarouselContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  text-align: left;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.productCarouselContainer::-webkit-scrollbar {
  display: none;
}

.productCardSortFrame {
  position: absolute;
  top: 120px;
  width: 100%;
  background-color: rgba(190, 190, 190, 0.315);
  backdrop-filter: blur(15px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 50px;
}

.productCardFrame {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  height: 370px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 0 8px $shadow-color;
  cursor: pointer;
  transition: 150ms;
}

.coloredCardFrame {
  background-color: white;
}

.productCardFrame:hover {
  box-shadow: none;
}

.productScaledImg {
  width: 100%;
  aspect-ratio: 2/2;
  object-fit: contain;
}

.productTitle {
  font-size: 1em;
}

.productBrand {
  font-weight: 300;
}

.productCardDivider {
  height: 100%;
}

.productPrice {
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(255, 46, 46);
  padding-block: 4px;
}

.buyButton {
  background-color: $bg-color1;
  font-size: 1em;
  font-weight: 500;
  padding: 7px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
