@import "../../Colors.scss";

.productCarouselContainer {
  display: flex;
  width: 600px;
  overflow-y: scroll;
  text-align: left;
  font-family: "Lato", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

.productCardFrame {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 8px rgba(66, 66, 66, 0.178);
  cursor: pointer;
  transition: 150ms;
}

.productCardFrame:hover {
  box-shadow: none;
}

.productScaledImg {
  width: 100%;
  aspect-ratio: 2/2;
  object-fit: contain;
}

.productTitle {
  font-size: 1em;
}

.productBrand {
  font-weight: 300;
}
