@import "../../Colors.scss";

.navFrame {
  height: 120px;
  border-bottom: 3px solid $bg-color2;
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.NavHeaderContainer {
  color: $font-color-header;
  font-family: "Abril Fatface", cursive;
  font-size: 2em;
  padding-bottom: 8px;
}

.navCustomerPathsContainer {
  padding-inline: 10px;
  display: flex;
  gap: 20px;
}

.navCustomerPathBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.itemAmount {
  position: absolute;
  top: 5px;
  right: -7px;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 38, 38);
  border-radius: 50%;
  padding-top: 2px;
  color: white;
  font-weight: 700;
}
